.header {
  position: relative;
  background-color: #eeeeee;
  box-shadow: 0px 4px 1px 0 #a4a4a4;
  display: flex;
  align-items: center;
  width: 100%;
  height: 12vh;
}

.logo {
  font-size: 30px;
  margin-left: 8%;
  color: #4b4b4b;
  font-weight: bold;
}

.y-logo {
  font-weight: 400;
  color: transparent;
  background-color: #a3924d;
  background-clip: text;
  font-family: 'Suez One', serif;
  text-shadow: 0px 2px 4px #e8d06f;
}

.score {
  color: #eeeeee;
  text-shadow: 0px 3px 4px #4b4b4b;
  margin-left: auto;
  font-weight: bold;
  font-size: 30px;
}

.info {
  cursor: pointer;
  position: relative;
  top: 2px;
  padding: 0;
  border: none;
  margin-left: 79px;
  margin-right: 79px;
  width: fit-content;
  color: rgb(95, 95, 206);
  font-size: 24px;
  border-radius: 50%;
}

.info:hover {
  color: rgb(74, 74, 156);
}

.info-box {
  right: 0;
  top: calc(6vh + 14px);
  position: absolute;
  padding: 20px 10px 0px 10px;
  max-width: 160px;
  background-color: white;
  color: #4b4b4b;
  clip-path: polygon(50% 0%, 55% 20%, 100% 20%, 100% 100%, 0 100%, 0 20%, 45% 19%);
  z-index: 2;
}

@media (min-width: 1440px) {
  .score,
  .logo,
  .level {
    font-size: 40px;
  }
}

@media (max-width: 768px) {
  .score,
  .logo {
    font-size: 20px;
  }
}

@media (max-width: 425px) {
  .score,
  .logo {
    font-size: 16px;
  }
}

@media (max-width: 375px) {
  .info {
    margin-left: 49px;
    margin-right: 49px;
  }
  .info-box {
    padding-top: 40px;
    max-width: 100px;
  }
}